/* Global Variables */
:root {
	/* Colors */
	--background-c: #CCC;
	--content-c: #FEB;
	--portfolio-c: #7BE;

	/* Padding and border-radius */
	--spacing: 8px;
}


html {
	height: 100%;
	font-size: 16px;
}

body {
	background-color: var(--background-c);
	margin: 0;
	padding: var(--spacing);
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

body > * {
	width: 95%;
}

[lang] {
	display: none;
}

[lang=en] {
	display: unset;
}

.header {
	position: relative;
	margin-bottom: var(--spacing);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.title {
	text-align: center;
	margin: 0;
	grid-column: 2;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.content {
	box-sizing: border-box;
	padding: var(--spacing);
	border-radius: var(--spacing);
	background-color: var(--content-c);
}

.footer {
	padding: 0.5em 0;
	position: relative;
	bottom: 0;
	text-align: center;
}

.portfolio {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: var(--spacing);
}

.portfolio-item {
	background-color: var(--portfolio-c);
	border-radius: var(--spacing);
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.portfolio-item > a:link, a:visited {
	text-decoration: none;
	color: #000;
}

.portfolio-thumb {
	border-radius: var(--spacing);
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
}

.portfolio-title {
	margin: 0;
	text-align: center;
}

.portfolio-description {
	margin: 0;
}

/*** Media Queries ***/

@media only screen and (min-width: 600px) {
	.portfolio {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 786px) {
	.portfolio {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 992px) {
	.portfolio {
		grid-template-columns: repeat(4, 1fr);
	}
}
