<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ block "title" . }}
      Bakaq
    {{ end }}</title>
		<link rel="stylesheet" href="/index.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
    <header>Bakaq</header>

    <nav>
      <a href="/">Home</a>
      <a href="https://blog.bakaq.net">Blog</a>
      <a href="https://github.com/bakaq">Github</a>
    </nav>

		<main>
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
		</main>

		<footer>footer thing idk</footer>
	</body>
</html>
