{{ define "main" }}
  <p>
  I'm Kauê Hunnicutt Bazilli, a physicist and developer from Brazil interested in a wide range of
  subjects, including music, web dev, logic programming and linguistics.
  </p>

  <ul>
    <li>
      <a href="/projects">Projects</a> - Projects I've worked on. Some are usable in the browser!
    </li>
    <li>
        <a href="https://blog.bakaq.net">Blog</a> - My blog.
    </li>
    <li>
      <a href="/blogroll">Blogroll</a> - Blogs I like and recommend.
    </li>
  </ul>


  <p>
  You can find me at:
  </p>

  <ul>
    <li><a href="https://github.com/bakaq">Github</a></li>
    <li><a href="mailto:bakaq@bakaq.net">bakaq@bakaq.net</a></li>
  </ul>
{{ end }}
