{{ define "main" }}
  <p>
  I'm a physicist interested in a wide range of subjects, including music,
  web dev, logic programming and linguistics.
  </p>

  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blogroll">Blogroll</a></li>
  </ul>

  <section>
    <h2 id="donate">Donate:</h2>

    <ul>
      <li>This site accepts donations via BAT.</li>
      <li>
        Monero:
        
        <span style="font-size: 0.7em; word-wrap: break-word;">42jHqUsEke6V9w9pcHZiGf3NNPd6ZiRiZUAxZ3YuML7CinY3RJqWaS4CQB2JisXVwn5h7kx9WwSoDifgiEW6j4C5JGd93Mz</span>
      </li>
    </ul>
  </section>
{{ end }}
