/* Global Variables */

:root {
  /* Colors */
  --background-color: #D6DDD2;
  --content-background-color: #FEB;
  --button-color: #91C4EA;
  --button-hover-color: #9FCEEE;
  --text-color: #000;
  --link-color: blue;
  --link-visited-color: purple;

  /* Padding and border-radius */
  --spacing: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --background-color: #000;
    --content-background-color: #0d1117;
    --button-color: hsl(240, 75%, 25%);
    --button-hover-color: hsl(240, 75%, 20%);
    --text-color: #DDD;
    --link-color: #8b8be6;
    --link-visited-color: #c47cc4;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1.2rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: var(--spacing);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--spacing);
}

body a {
  color: var(--link-color);
}

body a:visited {
  color: var(--link-visited-color);
}

body > * {
  width: 100%;
  max-width: min(70ch, 95%);
}

header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing);

  padding: var(--spacing);
  background-color: var(--content-background-color);
  border-radius: var(--spacing);
}

nav > a {
  border-radius: var(--spacing);
  background-color: var(--button-color);
  font-size: 1.1rem;
  font-weight: bold;
}

nav > a:hover {
  background-color: var(--button-hover-color);
}

nav > :is(a:link, a:visited) {
  padding: var(--spacing);
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
}

main {
  padding: var(--spacing);
  border-radius: var(--spacing);
  background-color: var(--content-background-color);
}

/*** Porfolio ***/

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: var(--spacing);

  list-style-type: none;
  padding: 0;
}

.projects > li {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing);

  background-color: var(--button-color);
  padding: var(--spacing);
  border-radius: var(--spacing);
  width: min-content;
}

.projects > li > img {
  border-radius: var(--spacing);
  align-self: center;
}

.project-info {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing);
}

.project-info > * {
  margin: 0;
}

.project-info > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing);
}

.project-tags {
  --tag-spacing: calc(var(--spacing) * 0.4);
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: flex-end;
  gap: var(--tag-spacing);
  padding: 0;
}

.project-tags > li {
  font-size: 0.8rem;
  border: 1px solid;
  padding: 0 var(--tag-spacing);
  border-radius: var(--spacing);
}
