/* Global Variables */
:root {
  /* Colors */
  --background-c: #CCC;
  --content-c: #FEB;
  --button-c: #7BE;
  --button-hover-c: #5BF;

  /* Padding and border-radius */
  --spacing: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-c);
  margin: 0;
  padding: var(--spacing);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--spacing);
}

body > * {
  width: 100%;
  max-width: min(70ch, 95%);
}

header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing);

  padding: var(--spacing);
  background-color: var(--content-c);
  border-radius: var(--spacing);
}

nav > a {
  border-radius: var(--spacing);
  background-color: var(--button-c);
  font-size: 1.1rem;
  font-weight: bold;
}

nav > a:hover {
  background-color: var(--button-hover-c);
}

nav > :is(a:link, a:visited) {
  padding: var(--spacing);
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
}

main {
  padding: var(--spacing);
  border-radius: var(--spacing);
  background-color: var(--content-c);
}

/*** Porfolio ***/

.projects {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: var(--spacing);
  padding: 0;
}

.projects > li {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--button-c);
  padding: var(--spacing);
  border-radius: var(--spacing);
  gap: var(--spacing);
  width: min-content;
}

.projects > li > img {
  border-radius: var(--spacing);
}

.project-info {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing);
}

.project-info > * {
  margin: 0;
}

.project-info > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.project-tags {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: flex-end;
  padding: 0;
}

.project-tags > li {
  font-size: 0.8rem;
  border: 1px solid;
  padding: 0.1rem;
  border-radius: var(--spacing);
}
