/* Global Variables */
:root {
  /* Colors */
  --background-c: #CCC;
  --content-c: #FEB;
  --button-c: #7BE;
  --button-hover-c: #5BF;

  /* Padding and border-radius */
  --spacing: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-c);
  margin: 0;
  padding: var(--spacing);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--spacing);
}

body > * {
  width: 100%;
  max-width: min(70ch, 95%);
}

header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing);

  padding: var(--spacing);
  background-color: var(--content-c);
  border-radius: var(--spacing);
}

nav > a {
  font-size: 1.1rem;
  font-weight: bold;
}

footer {
  text-align: center;
}

main {
  padding: var(--spacing);
  border-radius: var(--spacing);
  background-color: var(--content-c);
}

.button {
  border-radius: var(--spacing);
  padding: var(--spacing);
  background-color: var(--button-c);
}

.button:hover {
  background-color: var(--button-hover-c);
}

.button:link, .button:visited {
  text-decoration: none;
  color: #000;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing);
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-thumb {
  border-radius: var(--spacing);
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.portfolio-title {
  margin: 0;
  text-align: center;
}

.portfolio-description {
  margin: 0;
}

/*** Media Queries ***/

@media only screen and (min-width: 600px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 786px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}
