{{ $tags := resources.Get "tags.yml" | transform.Unmarshal }}
{{ $projects := resources.Get "projects.yml" | transform.Unmarshal }}

<ul class="projects">
  {{ range $projects }}
  <li>
    <a href="{{ .link }}">
      {{ with .image }}
      <img src="{{ .src }}" alt="{{ .alt }}" width="325" height="325">
      {{ else }}
      <div style="width: 325px; height: 325px; text-align: center; line-height: 325px;">
        No image yet
      </div>
      {{ end }}
    </a>
    <div class="project-info">
      <h2>{{ .title }}</h2>

      <div>
        <div class="project-links">
          <a href="{{ .repo }}">Repo</a>
          {{ with .link }}
          <a href="{{ . }}">Link</a>
          {{ end }}
        </div>

        {{ with .tags }}
        <ul class="project-tags">
          {{ range . }}
          <li data-tag-id="{{ . }}">{{ (index $tags .).name }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

      <p>{{ .description }}</p>
    </div>
  </li>
  {{ end }}
</ul>
